node red flow/flows.json
[{"id":"493eb044.9a35","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"32756fdd.c8da8","type":"ui_form","z":"493eb044.9a35","name":"","label":"","group":"932d74a2.2204c8","order":3,"width":15,"height":2,"options":[{"label":"Enter Your Query","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":320,"wires":[["36d8a30b.72ab4c"]]},{"id":"36d8a30b.72ab4c","type":"function","z":"493eb044.9a35","name":"input parsing","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":360,"wires":[["d6f312b.1d681f","126329f8.a1d066"]]},{"id":"aea2b599.8e9888","type":"function","z":"493eb044.9a35","name":"output parsing","func":"msg.payload.text=\"\";\nif(msg.payload.context.webhook_result_1){\n    for(var i in msg.payload.context.webhook_result_1.results){\n    msg.payload.text=msg.payload.text+\"\\n\"+msg.payload.context.webhook_result_1.results[i].text;\n    }\n    msg.payload=msg.payload.text;\n}\nelse\nmsg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":80,"wires":[["59656c37.c06554","326d6ef4.a5a072"]]},{"id":"d6f312b.1d681f","type":"watson-conversation-v1","z":"493eb044.9a35","name":"Customer Care","workspaceid":"493f2f27-cc05-41e5-b61a-90845016c91b","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/4b6a8756-ee29-48e9-a953-fcc7e1dbfee0","timeout":"","optout-learning":false,"x":380,"y":180,"wires":[["aea2b599.8e9888","8764ac1b.003a9"]]},{"id":"126329f8.a1d066","type":"ui_text","z":"493eb044.9a35","group":"932d74a2.2204c8","order":1,"width":"15","height":"2","name":"","label":"YOU :","format":"{{msg.payload}}","layout":"row-spread","x":550,"y":400,"wires":[]},{"id":"59656c37.c06554","type":"ui_text","z":"493eb044.9a35","group":"932d74a2.2204c8","order":2,"width":15,"height":"5","name":"","label":"Mr. BOT:","format":"{{msg.payload}}","layout":"row-spread","x":860,"y":100,"wires":[]},{"id":"326d6ef4.a5a072","type":"debug","z":"493eb044.9a35","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":240,"wires":[]},{"id":"8764ac1b.003a9","type":"debug","z":"493eb044.9a35","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":400,"wires":[]},{"id":"932d74a2.2204c8","type":"ui_group","z":"","name":"ChatBot","tab":"e532fb95.fc3c28","order":1,"disp":true,"width":15,"collapse":true},{"id":"e532fb95.fc3c28","type":"ui_tab","z":"","name":"Customer Care HelpDesk","icon":"dashboard","disabled":false,"hidden":false}]